/* styles.css */

body {
    font-family: Arial, sans-serif;
}

#quiz-container {
    max-width: 600px;
    margin: auto;
}

.question {
    font-size: 18px;
    margin-bottom: 10px;
}

.options {
    list-style-type: none;
    padding: 0;
}

.option {
    margin-bottom: 8px;
}

#submit-btn {
    margin-top: 20px;
}
